@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {
  font-family: 'Lato', sans-serif;
  font-size: '20px';
  height: 100vh;
  color: white;
}

.leftBar {
  background-color: black;
  height: 100vh;
  padding: 0.75rem;
}

.row .col.m4 {
  padding: 0 0.75rem;
}


.input {
  padding: 0 2%;
}

.select-dropdown {
  padding: 0.75rem;
}

.col .s1 .col .s12 .m4 .l3 .leftBar{
  padding: 0 0.25rem;
}

.row .col {
  padding: 0;
}

.row .col {
  padding: 0.75rem;
}

.logo {
  width: 70%;
  display: block;
  margin: 2% 4% 2% 3%;
  z-index: 100;
}


.map {
  height: 100vh;
  padding: 0;
  background-color: black;
  z-index: 100000;
}


.radioButtons {
  padding: 20%;
}

.location {
  text-align: center;
  padding: 5%;
  margin-top: 10%;
  z-index: 1;
}

.leftBar {
  padding: 20%;
}

.leftBar {
  padding: 20%;
}

.location > * {
  padding: 2%;
}

.particles {
  z-index: -1;
}

.textField {
  color: linear-gradient(to right, #fc4a1a, #f7b733);
}

.searchBar {

}

.searchBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
